@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Black+Han+Sans&family=IBM+Plex+Sans+KR&display=swap');

.box {
  margin: 15px;
  margin-top: 40px;
  text-align: center;
}
.heading {  
  padding: 0px 12px;
  font-size: 2rem;
  font-weight: 600;
  /* margin-left: 30px; */
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin: 4rem 2vw;
  padding: 0;
  list-style-type: none;

  font-family: "42dot Sans", sans-serif;
  font-optical-sizing: auto;
}

.card {
  display: block;
  padding: 0 20px 10px 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 2px;
  cursor: pointer;
}

.card > div {
  display: flex;
  gap: 20px;
}
.card_title_wrapper{
  align-items: center;
}
.card:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
  transition: opacity 1s ease-in-out;

  position: relative;
  z-index: 1;
  top: 50%;
}

.card:hover:before {
  opacity: 1;
  visibility: visible;
}
.card:hover {
  opacity: 0.7;
  visibility: visible;
}

.card__image {
  width: 40px;
}

.card_desc_container {
  text-align: left;
}

.card_title {
  font-size: 1rem;
  margin: -2px 0 0.3em;
  color: #000;
  padding: 14px 0px 5px 0px;
  text-align: left;
  font-weight: bold;
}

@media (max-width:450px){
  .box {
    margin: 5px;
    margin-top: 40px;
    text-align: center;
  }
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card{
    padding: 0 15px;
  }
  .card__image {
    height: 30px;
    width: 30px;
  }

}