.main-footer {
    height: 180px;
    align-items: center;
    display: flex;
    justify-content: center;  
    
    font-family: "42dot Sans", sans-serif;
    font-weight: 800;
    border-top: 1px solid #e4e4e4;
}

.logo-img{
    width: 50px;
}
.copyright{
    width: fit-content;
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
    color: #adadad;
}

@media (max-width:769px){
    .main-footer {
        height: 130px;
    }
}
  